<div class="my-3 p-3 bg-white rounded shadow-sm">

  <h4 class="border-bottom border-gray pb-2 mb-0">Service's List</h4>
  <table class="table table-hover">
      <thead>
          <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Descripción</th>
              <th scope="col">código</th>
              <th scope="col">Valor</th>
              <th> </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let service of services">
              <td>{{service.nombre}}</td>
              <td>{{service.descripcion}}</td>
              <td>{{service.codigo}}</td>
              <td>{{service.valor}}</td>
              <td>
                <a [routerLink]="['/detail/'+service._id]" class="btn btn-info hello-color">
                  <fa-icon class="text-white" [icon]="faPen" size="1x"></fa-icon>
                </a>
                <a class="btn btn-danger" (click)="open(content, service._id, service.nombre)">
                  <fa-icon class="text-white" [icon]="faTrash" size="1x"></fa-icon>
                </a>
                <a class="btn btn-warning">
                  <fa-icon [icon]="faComment" size="1x"></fa-icon>
                </a>
              </td>
          </tr>
      </tbody>
  </table>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmación de borrado</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <p>¿Está seguro de borrar el servicio <strong>{{nombreService}}</strong>?</p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="delete(idServiceToDelete)">Borrar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cerrar</button>
  </div>
</ng-template>

