<div class="my-3 p-3 bg-white rounded shadow-sm">

  <h4 class="border-bottom border-gray pb-2 mb-0">Crear servicio</h4>

  <form class="create-form">
    <div class="form-group">
      <label for="serviceInput">Nombre</label>
      <input type="text" class="form-control" id="serviceInput" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="descripcionText">Descripción</label>
      <textarea class="form-control" id="descripcionText"></textarea>
    </div>
    <div class="form-group">
      <label for="codeInput">Código</label>
      <input type="text" class="form-control" id="codeInput" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="input-1" class="control-label">Valor: </label>
      <div class="stars starrr" data-rating="0"></div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Crear</button>

  </form>

  </div>
