<div class="my-3 p-3 bg-white rounded shadow-sm">

  <h4 class="border-bottom border-gray pb-2 mb-0">Calificiar servicio</h4>

  <form class="create-form" [formGroup]="addServiceForm" (ngSubmit)="addService()">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" formControlName="nombre"  id="nombre" aria-describedby="nombre" required>
    </div>
    <div class="form-group">
      <label for="correoText">Correo</label>
      <input type="text" class="form-control" formControlName="correo" id="correoText" required/>
    </div>
    <div class="form-group">
      <label for="input-1" class="control-label">Valor: </label>
      <star-rating value="0" [totalstars]="5" checkedcolor="#00bcd4" uncheckedcolor="gray" size="30px" readonly="false" (rate)="onRate($event)"></star-rating>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Calificar</button>

  </form>

  </div>
