<nav class="navbar navbar-expand-lg navbar-light hello-color">
    <div class="container-fluid">
        <a class="navbar-brand">Hello Test</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/createService"><fa-icon [icon]="faPlusSquare" size="1x"></fa-icon> Add service </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/list"><fa-icon [icon]="faTable" size="1x"></fa-icon> List services</a>
                </li>
            </ul>
        </div>
    </div>
</nav>